@media screen and (max-width: 480px) {

   header {
    align-items: center;
   }


  .HeaderTitleContent {
    justify-content: space-evenly;
    width: 26vw;
    margin-left: 60px;
  }
   
  .HeaderTitleContent h2 {
    font-size: 1.6em;
    margin-left: 4px;
    font-family: 'Roboto Serif', serif;
    font-weight: 500;
  }

  .IconHeader {
    display: none;
  }

  .NavHeader img {
    height: 2.6em;
    margin-top: 6px;
  }

  .PrimeiraSessao {
    background-image: url(./assets/Mobile/Fundo1-Mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
  }
 
  .PrimeiraSessao section {
    height: 60vh;
  }


  .PrimeiraSessao h1 {
    width: 100vw;
    font-size: 3em;
  }

  .SegundaSessao {
    background-image: url(./assets/Mobile/Fundo2-Mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
  }


  .SegundaSessao p {
    font-size: 1.4em;
    width: 100vw;
  } 

  .TerceiraSessao {
    background-image: url(./assets/Mobile/Fundo3-Mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
  }
}